.header {
    position: fixed;
    top: 0px;
    left: 0px;
    background: transparent;
    border-right: 1px solid #fff;
    width: 64px;
    height: 100%;
    z-index:1000;
}

.header .nav {
    margin-top: 0px;
    padding-top: 55px;
}

.header #menu-desktop {
    width: 64px;
    border-right:1px solid #fff;
    height: 100%;
}

.menu-transparent {
    opacity: 0.8;
    background: #000;
}

/* MENU MOBILE */
.header #menu-mobile {
    display:none;
}
.header #menu-mobile ul.pages {
    width:100%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header #menu-mobile ul.pages li {
    float: left;
    list-style: none;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.header #menu-mobile ul.pages li a {
    color: #fff;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
}
/* */

/* */
.header #menu-desktop ul.pages {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    transform: scale(-1);
}

.header #menu-desktop ul.pages li {
    float: left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    list-style: none;
    margin-top: 40px;
    margin-bottom: 28px;
    width: 105%;
    display: inline-block;
    text-align: center;
}

.header #menu-desktop ul.pages li a {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
}
/* */

.header ul.dots {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    bottom: 16px;
    border-top: 2px solid #fff;
    position: relative;
    bottom: 0px;
    margin: 0;
    left: 25px;
    padding-top: 12px;
}

.header ul.dots li {
    float:left;
    clear:both;
    margin-bottom:8px;
}

.header ul.dots li span.dot {
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 32px;
    -moz-border-radius: 32px;
    background: transparent;
    transition: 0.3s;
}
.header ul.dots li span.dot.active { background:#fff; }

#lk_contato {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    display: block;
    transition: 0.3s;
}
#lk_contato:hover { opacity:0.8; }

.section { 
    display:block;
    float:left; 
    position:relative;

    overflow:hidden;
}

.container-fluid .page-number {
    right:82px;
    bottom:32px;
}

/*.loaded .section {
    display:block;
}*/

.section.inicio {
    height:100%;
    background:red url(../img/bg_inicio.jpg) no-repeat left center;
    background-size: cover;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.section.inicio .logo-jambo { 
    height:500px;
}
.loaded .slideInFromLeft { animation: 1s ease-out 0s 1 slideInFromLeft; }
.loaded .slideInFromRight { animation: 1s ease-out 0s 1 slideInFromRight; }

.section.inicio span {
    display:inline-block;
    text-align:left;
}
.section.inicio span h2 {
    font-size: 4em;
    color: #fff;
    line-height: 0.8em;
}
.section.inicio span h3 {
    font-size: 1.5em;
    color: #fff;
    line-height: 0.9em;
}

.section.o-estudio {
    height:100%;
    height:100%;
    background:#f40b48 url(../img/bg_o-estudio.jpg) no-repeat 64px center;
}

.section.o-estudio img.o-estudio {
    height: 130px;
    float: right;
}



.section.trabalhos {
    height:100%;
    height:100%;
    background:#0ccf51;
}
.section.trabalhos img.lb-trabalhos {
    position: absolute;
    z-index: 998;
    height: 300px;
    top: 50%;
    margin-top: -200px;
    margin-left: 0px;
}

.section.trabalhos .col-cases {
    position:relative;
    height:400px;
}
.section.trabalhos .box-case {
    display:none;
    position:absolute;
    top:0px;
    right:0px;
}
.section.trabalhos .box-case.active {
    display:block;
}
.section.trabalhos .box-case .bt-ver-case {
    background: #f704b0;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 12px;
    font-weight: 800;
    z-index: 998;
    font-size: 1em;
}
.section.trabalhos .box-case .bt-ver-case:hover {
    background:#ff84db;
}
.section.trabalhos .box-case img {
    margin-bottom:45px;
}
.section.trabalhos p {
    width: 100%;
    font-family: Myriad Pro, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

.section.trabalhos #lista_trabalhos {
    list-style:none;
    float:right;
    clear:both;
    padding:0;
    margin:0;
}
.section.trabalhos #lista_trabalhos li {    
    text-align: center;
    margin-bottom: 12px;
}
.section.trabalhos #lista_trabalhos li a {
    color:#f704b0;
    font-size:1.5em;
    font-weight:200;
    text-align:center;
}
.section.trabalhos #lista_trabalhos li a:hover {
    opacity:0.8;
}
.section.trabalhos #lista_trabalhos li.active a {
    font-weight:600;
    color:#f704b0;
}



.section.trabalhos-case {
    height:100%;
    background:#0ccf51;
}
.section.trabalhos-case .container-fluid {
    padding-left: 64px !important;
    padding-top: 30px !important;
}

.section.trabalhos-case .part-section { 
    overflow:hidden; 
    padding-bottom:70px;
}


#bayer-parte-2 .col-text .obj {
    position: absolute;
    top: -160px;
    right: 0px;
    height: 160px;
}

.row-bayer-parte-3 .col-text-bayer {
    background:url(../img/rotate-bayer.png) no-repeat right bottom;
    background-size:32px;
}
.row-bayer-parte-3 .bt-setas {
    position: absolute;
    right: -80px;
    bottom: 200px;

    transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
}
.row-bayer-parte-3 .bt-setas:hover {
    opacity:0.8;
    cursor:pointer;
}


.section.trabalhos-case .container-bayer { display:block; }
.section.trabalhos-case .container-bayer .row-img-title { 
    margin-top: 30px;
    padding-left: 15px;
}
.section.trabalhos-case .container-bayer { display:block; }
.section.trabalhos-case .container-bayer .col-img-title { padding-left: 0px; }
.section.trabalhos-case .container-bayer .col-img-title img { max-width:90% }

.section.trabalhos-case .container-bayer .row-text-title { margin-top:-145px; }
.section.trabalhos-case .container-bayer .row-video-text { 
    margin-top:130px;
    height:360px; 
}
.section.trabalhos-case .container-bayer .row-video-text p { 
    font-weight:600; 
    padding-right:70px;
}

.section.trabalhos-case .container-bayer .row-text-title h3 {
    padding-left: 75px;
    margin-top: 0px;
    color: #f704b0;
    font-size: 2.5em;
}
.section.trabalhos-case .container-bayer { display:block; }



.section.trabalhos-case .container-jaguar { 
    display:none; 
}

.section.trabalhos-case .row-jaguars {
    position:absolute;
    bottom:-76px;
}
.section.trabalhos-case .row-jaguars img, .section.trabalhos-case .row-jaguars iframe { height:191px; }

.section.trabalhos-case #iframe_1 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -120px;
}

.section.trabalhos-case .container-jaguar .second-section .first-row { background:#0ccf51; }

.section.trabalhos-case .container-jaguar .row-img-title { margin-top:-100px; }
.section.trabalhos-case .container-jaguar .col-img-title { padding-left: 0px; }
.section.trabalhos-case .container-jaguar .col-img-title img { max-width:90% }
.section.trabalhos-case .container-jaguar .col-img-title p {
    position: absolute;
    top: 37%;
    left: 132px;
    font-size: 2.4em;
    color: #f705b0;
    font-weight: 500;
}

.section.trabalhos-case .container-jaguar .row-text-title { margin-top:-145px; }
.section.trabalhos-case .container-jaguar .row-video-text { margin-top:145px; }
.section.trabalhos-case .container-jaguar .row-video-text p { font-weight:600; }

.section.trabalhos-case .container-jaguar .row-img-title h3 {
    padding-left: 75px;
    margin-top: 0px;
    color: #f704b0;
    font-size: 2.4em;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: 60px;
}



.section.nosso-jeito {
    height:100%;
    height:100%;
    background:#ffa700;
}

.section.nosso-jeito h3.lb {
    font-size: 5.5em !important;
    text-transform: uppercase !important;
    padding-left: 40px !important;
    position:relative;
    z-index:4;
}
.section.nosso-jeito h3.lb span {
    float:left;
    clear:both;
    line-height: 1em;
    margin-bottom: 3px;
}
.section.nosso-jeito h3.lb span.active {
}

.section.nosso-jeito h3.lb span {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;	
}
/*
.section.nosso-jeito h3.lb span:hover {
    cursor:pointer;
    opacity:0.8;
}
*/

.section.nosso-jeito img.plb-img {
    display: block;
    position: absolute;
    right: 5px;
    height: 345px;
    bottom: 0px;
    z-index: 3;
}

.section.nosso-jeito img#plb_principal_img {
    height: 360px;
    bottom: 52px;
}






.section.contato {
    height:100%;
    height:100%;
    background:#fff url(../img/bg_contato.jpg) no-repeat top right;
    background-size:contain;
}

.section.contato h3 {
    font-size: 7em !important;
    text-transform: uppercase !important;
    color:#0012ff;
}

.section.contato .bt-seta-direita {
    position: relative;
    top: 20px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;	
}
.section.contato .bt-seta-direita:hover { opacity:0.7; }
.section.contato #form_contato {
    padding: 15px;
    background: #fff;
    /*box-shadow: 0px 6px 6px 1px #d4d4d4;*/
}
.section.contato .col-title {
    margin-left: -12px;
    padding-left: 0px;
    margin-top: 10px;
    margin-top: 24px;
}

.page-number {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 20px;
    z-index: 99;
}
.page-number span {
    display:none;
    color:#fff;
    font-size:1em;
    font-weight:700;
}
.page-number span.active {
    display:block;
}





